body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: #E0F2F1;
    height: 100vh;
    position: relative;
}

#player {
    background-color: #B7D7C6;
    position: absolute;
    bottom: 0;
    left: 0vw;
}

.obstacle {
    background-color: #F9CC9D;
    position: absolute;
}